{{- if include "soneta.isOrchestrator" . -}}
{{- $name := include "soneta.fullname" (list . "orchestrator") -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ $name }}
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ $name }}
rules:
- apiGroups:
  - ""
  resources:
  - pods/log
  - pods/status
  verbs:
  - get
- apiGroups:
  - ""
  resources:
  - pods
  - services
  verbs:
  - get
  - list
  - watch
  - create
  - patch
  - update
  - delete
  - logs
- apiGroups:
  - apps
  resources:
  - deployments
  - replicasets
  verbs:
  - get
  - list
  - watch
  - create
  - patch
  - update
  - delete
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ $name }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ $name }}
subjects:
  - kind: ServiceAccount
    name: {{ $name }}
    namespace: {{ .Release.Namespace }}
{{- end -}}